/* Panel Main style */
.swiper-container {
    border: 1px solid #8a8a8a;
    display: flex;
    flex: 1 1 100%;
    padding: 50px 0;
    width: 100%;
}



/* Panel Contents style */
.card {
    border: 1px solid #fff;
    height: 200px;
    margin: 10px;
    width: 200px;
}